body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

button {
    border: none;
    border-radius: 15px;
    background-color: #f0f0f0;
    color: #222;
    box-sizing: border-box;    
    transition: background-color 0.3s;
    transition: border 0.3s;
}
button:active {
    background-color: #f0f0f0;
    border: 1px solid #122a89;
    
}
input {
    border-radius: 1rem;
    padding: 1rem;
}
.completada {
    text-decoration: line-through;
}

.hide {
    display: none !important;
}
.formulario {
    padding: 1rem 3rem;
    display:flex;
    flex-direction: column;
    gap: 1rem
}
.formLabel {
    font-size: calc(4em + 1vw) ;
}
.inputForm {
    width: auto;
    height: fit-content;
    font-size: calc(2rem + 1vw) ;
    border: 1px solid;
}
.buttonForm {
    font-size: calc(2rem + 1vw);
    padding: 1rem;
    text-align: start;
}
.listaDeTareas {
    overflow: scroll;
    height: 64vh;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}
ul {
    list-style: none;
}
p {
    padding: 0px;
    margin: 0px;
}
.tarea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    color: #222;
    background-color: #f0f0f0;
    border-radius: 2rem;
}
.tareaText {
    font-size: calc(3rem + 1vw);
}
.botonTerminar {
    font-size: calc(2rem + 1vw);
    text-align: start;
    padding: 1rem;
    border: 1px solid #222;
}
.botonEliminar {
    font-size: calc(2rem + 1vw);
    text-align: start;
    padding: 1rem;
    border: 1px solid #222;
}
.containerButtons{
    display: flex;
    gap: 1rem;
    justify-content: end;
}
.botonModo {
    font-size: calc(2rem + 1vw) ;
    text-align: start;
    padding: 1rem;
}
.total {
    font-size: calc(2rem + 1vw);
    margin: 0rem 3rem;
}
.precioBox{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.formPrecio {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}
.precioInput {
    font-size: calc(2rem + 1vw);
    padding: 1rem;
    width: 7rem;
}
.precioBox{
    justify-content: space-between;
}
.precioButton {
    font-size: calc(2rem + 1vw);
    padding: 1rem;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
}
.footer {
    font-size: calc(1rem + 1vw) ;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #222;
    padding: 1.5rem;
    display:flex;
    justify-content: space-around;
}
.links{
    display: flex;
    gap: 1rem;
}
.formContainer{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 1000px) {
    #root{
        max-width: 900px;
        margin:auto;
    }
    button {
        padding: 0.5rem !important;
        transition: background-color 0.3s;
        transition: color 0.3s;
        transition: border 0.3s;
    }
    button:hover {
        cursor: pointer;
        color: #f0f0f0;
        background-color: #222;
    }
    .tarea {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .formContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    .buttonForm {
        width: 22rem;
    }
    .buttonForm:hover {
        color: #f0f0f0;
    }
    .botonModo:hover {
        color: #f0f0f0;
    }
    .inputForm {
        width: 100%;
        padding: 0.5rem;
    }
    .listaDeTareas{
        height: 50vh;
        overflow: auto;
    }
    .formLabel {
        font-size: calc(1rem + 1vh);
        padding: 0rem 0.5rem;
    }
    .total {
        margin: 0rem 3.5rem;
    }
    .inputForm, .buttonForm, .botonEliminar, .botonTerminar, .total, .precioButton, .precioInput, .botonModo {
        font-size: calc( 0.5rem + 1vh);
    }
    .tareaText {
        font-size: calc(0.5rem + 1vh);
    }
    .precioInput{
        padding: 0.1rem;
    }
    .precioBox {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .formPrecio {
        display: flex;
        align-items: center;
    }
    .precioInput {
        width: 3rem;
    }
    .footer {
        font-size: calc( 0.1rem + 1vh);
        padding: 0.2rem;
    }

}